<!-- <div class="container-fluid">
  <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="todos">TODO</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter content..."
          id="todos"
          required
          [(ngModel)]="todoValue"
          name="todos"
        />
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>

  <h2>Content from Firebase</h2>
  <div class="col-md-3">
    <pre *ngFor="let todos of todos | async">{{ todos.content }}</pre>
  </div>
</div> -->
<div class="row justify-content-center">
  <form (ngSubmit)="createTodos(); todoForm.resetForm()" #todoForm="ngForm">
    <div>
      <label for="exampleInputEmail1">Add a task</label>
    </div>
    <input
      class="form-control"
      type="text"
      placeholder="Todo"
      [(ngModel)]="todoValue"
      name="todos"
    />
    <br />
    <div class="row justify-content-center">
      <button class="btn btn-success" type="submit">
        Add
      </button>
    </div>
  </form>
</div>
<br />
<div class="container">
  <div class="row justify-content-center">
    <button class="btn btn-danger" (click)="authservice.signOut()">
      Logout
    </button>
  </div>
</div>
