<h1>{{ title }}</h1>
<!-- <span>
  <nav>
    <a
      routerLink="/to-do"
      routerLinkActive="active-link"
      *ngIf="authService.user | async"
      >To-Do</a
    >
    <a
      routerLink="/login"
      routerLinkActive="active-link"
      *ngIf="!(authService.user | async)"
      >Login</a
    >
    <a
      routerLink="/register"
      routerLinkActive="active-link"
      *ngIf="!(authService.user | async)"
      >Register</a
    >
  </nav>
</span> -->
<!-- <div class="container-fluid">
  <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="tasks">TASK</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter content..."
          id="tasks"
          required
          [(ngModel)]="taskValue"
          name="tasks"
        />
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>

  <h2>Content from Firebase</h2>
  <div class="col-md-3">
    <pre *ngFor="let tasks of tasks | async">{{ tasks.content }}</pre>
  </div>
</div> -->

<router-outlet></router-outlet>
