<div *ngIf="todos" class="row justify-content-center">
  <form #todoForm="ngForm">
    <div>
      <label for="exampleInputEmail1">
        Edit Todo Task
      </label>
    </div>
    <input
      class="form-control"
      type="text"
      placeholder="todo"
      [(ngModel)]="todos.value"
      name="todos"
    />
    <div class="row justify-content-center">
      <button class="btn btn-success" (click)="updateTodos()">Update</button>
      &nbsp;<button class="btn btn-danger" (click)="deleteTodos()">
        Delete
      </button>
    </div>
  </form>
</div>
